<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<bean id="gr" class="aop_01.service.Greeting">
		<property name="name" value="홍길동" />
	</bean>
	<bean id="myLog" class="aop_01.aspect.MyLogAspect">
	</bean>

	<aop:config>
		<!-- <aop:pointcut id="get" expression="execution(* aop_01.service.Greeting.getMessage(..))" 
			/> -->
		<aop:aspect id="myLogAspect" ref="myLog">
			<!-- <aop:before method="beforeAdvice" pointcut-ref="get" /> -->
			<!-- <aop:before method="beforeAdvice" pointcut="execution(* aop_01.service.Greeting.setName(..))" 
				/> <aop:after-returning method="afterReturning" returning="o" pointcut="execution(* 
				aop_01.service.Greeting.getMessage(..))" /> -->
			<aop:around method="aroundAdvice"
				pointcut="execution(* aop_01.service.Greeting.getMessage(..))" />
		</aop:aspect>
	</aop:config>

</beans>
